In [1]:
column_names = ["time", "avg_rss12", "var_rss12", "avg_rss13", "var_rss13", "avg_rss23", "var_rss23"]
column_names + ["Nan"]

['time',
 'avg_rss12',
 'var_rss12',
 'avg_rss13',
 'var_rss13',
 'avg_rss23',
 'var_rss23',
 'Nan']

In [2]:
range(15)

range(0, 15)

In [3]:
import pandas as pd

In [4]:
pd.read_csv(r'C:\Users\HP\Desktop\Project-Folder\data_fusion_and_prediction\DATA_FUSION\walking\dataset9.csv', on_bad_lines='skip',engine='python', skiprows=7)

        500  34.50  2.60  20.00  4.74  20.50  2.87
0       750  23.75  5.36  11.75  6.22  14.25  3.77
1      1000  41.25  3.77  15.00  6.63  11.50  2.69
2      1250  36.75  1.30  13.50  3.35  15.00  2.55
3      1500  37.00  1.22  17.50  4.92  12.50  3.64
4      1750  38.50  7.09  11.50  6.80  16.00  4.74
..      ...    ...   ...    ...   ...    ...   ...
472  118750  31.50  1.66  12.50  3.20  14.25  4.44
473  119000  27.33  1.25  11.33  0.94  20.00  4.00
474  119250  37.80  7.68  14.20  2.48  17.25  0.83
475  119500  33.75  1.30  15.75  5.21  16.50  2.69
476  119750  32.67  3.09  18.67  0.47  14.00  3.16

[477 rows x 7 columns]